.page {
    display: flex;
    flex-direction: column;
    align-items: center;

    .search-bar {
        width: 100%;
    }

    .task-list {
        width: 100%;
    }

    .add-task-button {
        width: 100%;
        text-decoration: none;
        margin-top: 1rem;
    }
}